workflow_api_sheets.json
{
  "name": "Pages -> n8n API Proxy",
  "nodes": [
    {
      "parameters": {
        "path": "jastip-api",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1", "name": "Webhook",
      "type": "n8n-nodes-base.webhook", "typeVersion": 1,
      "position": [240, 300], "webhookId": "jastip-api"
    },
    {
      "parameters": {
        "jsCode": "const q = $json.query || {};\nconst body = $json.body || {};\nconst action = (q && q.action) || body.type;\nif (action === 'auth') {\n  return [{ json: { ok: true, role: 'admin' } }];\n}\nif (action === 'orders') {\n  return [{ json: { ok: true, orders: [] } }];\n}\nreturn [{ json: { ok: true, message: 'n8n Jastip API', action } }];"
      },
      "id": "route", "name": "Route",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
          }
        }
      },
      "id": "respond", "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Route", "type": "main", "index": 0 } ] ] },
    "Route": { "main": [ [ { "node": "Respond", "type": "main", "index": 0 } ] ] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
