workflow_wa_agent.json
{
  "name": "WAHA → AI Titiport → Sheets",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "wa-agent", "options": {} },
      "id": "webhook-1", "name": "WAHA Webhook",
      "type": "n8n-nodes-base.webhook", "typeVersion": 1,
      "position": [250, 300], "webhookId": "wa-agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "=Kamu CS Titiport. Ekstrak dari pesan customer ke JSON valid: {\"intent\":\"order|followup|complaint|info\",\"customer_name\":\"\",\"customer_wa\":\"{{ $json.from }}\",\"item\":\"\",\"cny_subtotal\":0,\"payment_status\":\"Unpaid\",\"notes\":\"\"}. Jangan ada teks lain selain JSON.\n\nPESAN: {{ $json.body }}",
        "options": {}
      },
      "id": "http-ai", "name": "Ollama Parse",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "assignments": { "assignments": [ { "id": "data", "name": "data", "type": "string", "value": "={{ $json.message.content }}" } ] },
        "options": {}
      },
      "id": "set-1", "name": "Extract JSON",
      "type": "n8n-nodes-base.set", "typeVersion": 3,
      "position": [760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbxrUBjwsuj2Ne6lVPYo1jgS6pz4mKJUp1PPBB39nnhZNT0kx2g1ilWg3_JRe4zYoVLc/exec",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\"type\":\"order-create\",\"trip_id\":\"1\",\"customer_name\":\"{{ $json.data.customer_name }}\",\"customer_wa\":\"{{ $json.data.customer_wa }}\",\"dp_paid_idr\":0,\"payment_status\":\"{{ $json.data.payment_status }}\",\"status\":\"menunggu\",\"notes\":\"{{ $json.data.item }} | {{ $json.data.notes }}\"}",
        "options": {}
      },
      "id": "http-sheets-1", "name": "Save to Sheets",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4,
      "position": [980, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": {} },
      "id": "respond-1", "name": "Respond to WAHA",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "WAHA Webhook": { "main": [ [ { "node": "Ollama Parse", "type": "main", "index": 0 } ] ] },
    "Ollama Parse": { "main": [ [ { "node": "Extract JSON", "type": "main", "index": 0 } ] ] },
    "Extract JSON": { "main": [ [ { "node": "Save to Sheets", "type": "main", "index": 0 } ] ] },
    "Save to Sheets": { "main": [ [ { "node": "Respond to WAHA", "type": "main", "index": 0 } ] ] }
  }
}
